* {
  margin: 0;
  padding: 0
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal
}

/* 去掉li 的小圆点 */
li {
  list-style: none
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle
}

a {
  text-decoration: none
}

button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  /* color: #666 */
}

body {
  zoom: 118%;
  -moz-transform: scale(1.2);
  /* 兼容Firefox */
  -webkit-transform: scale(1.2);
  /* 兼容Chrome和Safari */
  transform: scale(1.2);
  transform-origin: 0 0;
  /* 设置缩放原点为左上角 */
}

.hide,
.none {
  display: none
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}

/* 初始化end */
/* .w {
  margin: 0 auto;
} */

body {
  background-color: #dc9fdd;
  /* background-color: rgba(0, 0, 0, .4); */

}

.bigbox {
  background: url(img/背景1.jpg) no-repeat;
  width: 1078px;
  height: 1068px;

  /* background-color: #ccc; */
}

/* 头部start */
header .nav {
  height: 50px;
  /* background-color: #dc9fdd; */
}

/* logo start */
.logo {
  float: left;
  margin-top: 3px;

}

img {
  height: 40px;

}

.nav ul li {
  float: right;
  margin-right: 25px;
  margin-top: 5px;
}

/* logo end */
/* map start */
header .map {
  height: 280px;
  /* background-color: aqua; */
}

section {
  position: relative;
  width: 360px;
  height: 240px;
  margin: 20px auto;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
  background: url(img/背景2.jpg) no-repeat;
}

section img {
  width: 390px;
  height: 260px;
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
  }


}

section:hover {
  animation-play-state: paused;
}

section div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url() no-repeat; */
}

section div:nth-child(1) {
  /* background: url(img/狐狸妙妙.jpg) no-repeat; */
  transform: rotateY(0) translateZ(300px);
}

section div:nth-child(2) {
  transform: rotateY(90deg) translateZ(300px);

}

section div:nth-child(3) {
  transform: rotateY(180deg) translateZ(300px);
}

section div:nth-child(4) {
  transform: rotateY(270deg) translateZ(300px);
}

/* 头部 end */
/* nav start */
nav {
  height: 35px;
  position: relative;
  top: 0;
  /* background-color: blue; */
  background: rgba(0, 0, 0, 0.7);
}

.m {
  border-bottom: 2px solid #dc9fdd;
  color: #dc9fdd;
}

nav ul li a {
  color: #551a8b
}

nav ul li {
  color: #dc9fdd;
  float: left;
  line-height: 35px;
  font-size: 14px;
  margin-right: 20px;
  padding: 0 10px;
}

nav ul li a:hover {
  border-bottom: 2px solid #dc9fdd;
  color: #dc9fdd;
}

nav ul .music {
  position: relative;
  margin-top: 3px;
  /* right: 120px; */
  height: 30px;
  width: 300px;
  line-height: 28px;
  background-color: #6b1f6c;
  border-radius: 15px;
  float: right;
}

nav ul .music span {
  position: absolute;
  top: 0;
  right: 14px;
}

audio {
  position: absolute;
  top: 0x;
  right: 120px;
  height: 30px;
  width: 230px;
}

/* nav end */
/* box start */
.box {
  height: 680px;
  /* background-color: aqua; */
}

.box div span ul {
  position: relative;
  height: 341px;
  background: rgba(0, 0, 0, .4);
  /* background-color: pink; */
}

.box div span ul li {
  position: absolute;
  top: 30px;
  /* display: inline-block; */
  height: 150px;
  /* background-color: purple; */
}

.box div span ul li img:nth-child(2n+1) {
  /* border-radius: 50%; */
  width: 171px;
  height: 304px;
}

.box div span ul li:nth-child(1) {
  left: 10%;
}

.box div span ul li:nth-child(2) {
  width: 420px;
  font-size: 16px;
  top: 90px;
  left: 50%;
  margin-left: -210px;
  color: #dc9fdd;
}

.box div span ul li:nth-child(3) {
  right: 10%;
}

/* box end */
/* advance start */
.advance {
  position: relative;
}