* {
  margin: 0;
  padding: 0
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal
}

/* 去掉li 的小圆点 */
li {
  list-style: none
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle
}

a {
  text-decoration: none
}

button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
  zoom: 118%;
  -moz-transform: scale(1.2);
  /* 兼容Firefox */
  -webkit-transform: scale(1.2);
  /* 兼容Chrome和Safari */
  transform: scale(1.2);
  transform-origin: 0 0;
  /* 设置缩放原点为左上角 */
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  /* color: #666 */
}

.hide,
.none {
  display: none
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}

.w {
  /* margin: 0 auto; */
}

body {
  background-color: #dc9fdd;
}

.bigbox {
  background: url(img/背景1.jpg) no-repeat;
  /* position: relative; */
  width: 1078px;
  height: 886px;
  /* background-color: #ccc; */
}

/* header start */
header {
  height: 50px;
  background-color: rgba(148, 61, 117, 0.7);
}

/* logo start */
.logo {
  float: left;
  margin-top: 3px;
}

img {
  height: 40px;

}

header ul li {
  float: right;
  margin-right: 25px;
  margin-top: 5px;
}

/* logo end */
/* header end */

/* nav start */
nav {
  height: 35px;
  position: relative;
  top: 0;
  /* background-color: blue; */
  background: rgba(0, 0, 0, 0.7);
}

nav ul li a {
  color: #551a8b
}

.m {
  border-bottom: 2px solid #dc9fdd;
  color: #dc9fdd;
}

nav ul li {
  color: #dc9fdd;
  float: left;
  line-height: 35px;
  font-size: 14px;
  margin-right: 20px;
  padding: 0 10px;
}

nav ul li a:hover {
  border-bottom: 2px solid #dc9fdd;
  color: #dc9fdd;
}

nav ul .music {
  position: relative;
  margin-top: 3px;
  /* right: 120px; */
  height: 30px;
  width: 300px;
  line-height: 28px;
  background-color: #6b1f6c;
  border-radius: 15px;
  float: right;
}

nav ul .music span {
  position: absolute;
  top: 0;
  right: 14px;
}

audio {
  position: absolute;
  top: 0x;
  right: 120px;
  height: 30px;
  width: 230px;
}

/* nav end */
/* box start */
.box {
  background-color: rgba(0, 0, 0, 0.7);
}

/* front start */
.front {
  position: relative;
  height: 401px;
  /* background-color: pink; */
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.front ul {
  /* left: 332px; */
  width: 414px;
  height: 401px;
  /* background-color: skyblue; */
  margin-left: 332px;
  margin-top: 21px;
}

.front ul li {
  float: left;
  height: 176px;
  width: 132px;
  margin-right: 9px;
  margin-top: 16px;
  /* background-color: gray; */
}

.front ul li:nth-child(3n) {
  margin-right: 0;
}

.front ul li video {
  height: 176px;
  width: 132px;
  border-radius: 10px;
}

.one {
  top: 60px;
  position: absolute;
  left: 62px;
  height: 352px;
  width: 264px;
}

.two {
  position: absolute;
  top: 24px;
  right: 29px;
  height: 352px;
  width: 264px;
}

.one video {
  height: 264px;
  width: 198px;
  border-radius: 20px;
}

.two video {
  height: 352px;
  width: 264px;
  border-radius: 20px;
}

/* front end */
/* behind start */
.behind {
  height: 319px;
  /* background-color: aqua; */
}

.behind ul li:nth-child(1) {
  float: left;
  height: 279px;
  width: 496px;
  margin-left: 28px;
}

.behind ul li:nth-child(2) {
  float: right;
  height: 279px;
  width: 496px;
  margin-right: 28px;
}

.behind ul li video {
  margin-top: 20px;
  /* margin-right: 28px; */
  border-radius: 20px;
  height: 279px;
  width: 496px;
}

/* behind end */
h3 {
  margin: 0 auto;
  width: 240px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  color: #6b1f6c;
  background-color: rgba(190, 169, 190, 0.7);
}

h3 a:hover {
  border-bottom: 2px solid #dc9fdd;
  color: #dc9fdd;
}

/* box end */